<nav>
    <div class='app-title'>
        <a href="/">
            <h1>let's Blog</h1>
        </a>
        <p>A Blog Lover Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>