<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
 
    <div class='not-found content'>
        <p>
            Oops page not found !!!! sorry &#128542;
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>